 :root{
     --primary:#133C55;
     --secondary:#386FA4;
     --white:#fff;
     --link-primary-background:#59A5DB;
     --link-secondary-background:#86D2F6;
     --text-color:#4e4d4d;
}

html{
    scroll-behavior: smooth;
}
*,body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size:20px;
    overflow-x: hidden;

}
body{
    width: 100vw;
}
.content-visible .loader_container{
    display: none;
}
.d1{
    width: 100vw;
    height: 100vh;
    animation: mobileWelcome 12S ease-in-out infinite both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.d2{
    width: 100vw;
    height: 100vh;
    color:var(--white);
    background-color: #133C5579;
}
@keyframes mobileWelcome{
    0%{
        background-image:url("../../image/mobilehousekeeping1.jpg");
    }
    33%{
        background-image: url("../../image/mobilehousekeeping2.jpg");
    }
    66%{ background-image: url("../../image/mobilehousekeeping3.jpg");

    }
    100%{
        background-image: url("../../image/mobileHousekeepping.jpg");
    }
}
.top{
    display: flex;
    padding:7px;
    justify-content: space-between;
}
/*menu deroulant*/
.visible .button-show{
    display:none;
}
.collapse{
    display: none;
}
.visible .collapse{
    display:inline;
}
.navbar-button svg{
    position: absolute;
    right: 5px;
}
.nav-link{
    opacity:0;
    transform: translateX(-50vh);
    position:absolute;
    width:100vw;
    z-index:5;
    transition: transform 1s;
}
.visible .nav-link{
    opacity:1;
    transform: translateX(0);
    transition: transform 1s;
}
.nav-lnk{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.nav-link a{
    display: block;
    text-decoration: none;
    padding:5px;
    margin: 5px;
    background-color: var(--white);
    color:var(--primary);
    text-align: center;
}
.big_name{
    height: 90vh;
    width:100vw;
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-60px);
    z-index: 1;
    margin-top: 10vh;
}
.about{
    margin-top: 20px;
    margin-bottom: 20px;
}
.h3_title{
    font-size: 40px;
    text-align: center;
    color: var(--primary);
    margin:15px;
}
.about_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about_image_container{
    -webkit-mask-image: url(../../image/svg1.svg)!important;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.about_image{
    max-width:  100%;+
    height: auto;
}
.about_us{
    padding: 10px;
    width: 100%;
}
.about_text{
    color: var(--text-color);
}
.about_link{
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.primary-link, .secondary-link{
    background-color: var(--link-primary-background);
    padding: 9px;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}
.secondary-link{
    background-color: var(--link-secondary-background);
}
.secondary-link:hover,.primary-link:hover{
    text-decoration: underline;
    font-size: 22px;
    padding: 12px;
}
.services_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.service_container{
    width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 10px var(--secondary);
}
.service_title{
    font-size: 18px;
    color: var(--primary);
    font-weight: 700;
    margin: 10px;
    padding: 0 20px 0 20px;
}
.service_image img{
    width: 100%;

}
.service_description{
    color: var(--text-color);
    font-size: 16px;
    padding: 0 20px 10px 20px;
}
.contacts{
    margin-top: 10px;
}
 /*carousell*/

 .item{

     margin: 40px 10px;
     background-color: #fff;
     box-shadow: 1px 1px 10px var(--secondary);
     transition: transform 0.3s;
     border-radius: 10px;
     display: flex;
     padding: 10px;
     align-items: center;
     justify-content: center;
     transform: translate3d(0,-1px,0);
 }
 .item:hover{
     transform: translate3d(0, -10px, 0);
 }
 .item_image svg{
     display: block;
     width: 70px;
     height: auto;
     padding: 10px;
 }
 .item_body p{
     font-weight: bold;
 }
 .item_body a{
     font-style: italic;
     font-size: 14px;
     color: var(--link-primary-background);
 }
 /* carousel */
 .carousel{
     position:relative;
     /* overflow: hidden; */
 }

 .carousel__container{
     transition: transform 0.5s;
     transform: translate3d(0,0,0);
 }
 .carousel__item{
     float: left;
 }

.footer{
    color: var(--white);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    background-color: var(--secondary);
}
.footer_icone{
    margin: 20px;
}

/*
 .contact_link{
    font-size: 12px;
    font-style: italic;
}
.contact_container{
    display: flex;
    align-items: center;
}
.contact_information{
    margin: 5px;
}
.contacts_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
/*apparition au défiilement*/
.reveal-loaded [class*='reveal']{
    opacity: 0;
    transform: translateY(30px);
    transition: 0s;
}
.reveal-loaded .reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(.54,.01,0,.99);
}

@media screen and (min-width: 800px){
    @keyframes mobileWelcome{
        0%{
            background-image:url("../../image/desktophousekeeping1.jpg");
        }
        33%{
            background-image: url("../../image/desktophousekeeping2.jpg");
        }
        66%{
            background-image: url("../../image/desktophousekeeping3.jpg");
        }
        100%{
            background-image: url("../../image/desktophousekeepping4.jpg");
        }
    }

    .navbar-button{
        display: none;
    }
    .topbar{
        display: flex;
        justify-content: space-between;
    }
    .nav-link{
        opacity: 1;
        transform: translateX(0);
        position: static;
        margin:10px 0 0 0;
        width: 430px;
    }
    .nav-link a{
        display: inline;
        background-color: inherit;
        color:var(--white);
    }
    .nav-link a:hover{
        text-decoration: underline;
    }
    .big_name{
        font-size: 100px;
    }
    .about_flex{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .about_us{
        max-width: 50%;
    }
    .about_link{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .about_link a{
        padding: 10px 35px 10px 35px;
    }
    .service_container{
        width: 420px;
    }
}

